[user]
	email = Simljk@outlook.de
	name = L3MON4D3
[mergetool "vimdiff"]
	path = nvim
[merge]
	tool = vimdiff
[alias]
    log1 = log --pretty='%C(auto)%h: %s'
    log2 = log --pretty='%C(auto)%h: %s%C(dim white) ~%an' --graph
    l = !"git log1"
    g = !"git log2"
