[user]
	email = Simljk@outlook.de
	name = L3MON4D3
[mergetool "vimdiff"]
	path = nvim
[merge]
	tool = vimdiff
[alias]
    log1 = log --pretty='%C(auto)%h: %s'
    log2 = log --pretty='%C(auto)%h: %s%C(dim white) ~%an' --graph
    l = !"git log1"
    g = !"git log2"
    s = status
	rc = rebase --continue
	p = push
	c = checkout
	bg = bisect good
	bg = bisect bad
[init]
	defaultBranch = master
[core]
	editor = nvim
[pull]
	rebase = false
#[url "git@gitlab.freedesktop.org:"]
#	insteadOf = https://gitlab.freedesktop.org/
[github]
	user = L3MON4D3
[safe]
	directory = /home/simon/Documents/Uni/Kurse/s9/hpc/ex/juwels/02-running-s6sikatz
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
