*
!.config
!.config/nvim
!.config/nvim/filetype.lua
!.config/nvim/lua
!.config/nvim/init.vim
!.config/nvim/lua/**/*
!.config/nvim/luasnippets/
!.bash_aliases
!.config/nvim/init.vim
!.gitignore
!.config/sway
!.config/sway/*
!.config/sway/conf.d/
!.config/sway/conf.d/*
!.bashrc.d
!.bashrc.d/*
!.config/qutebrowser/
!.config/qutebrowser/config.py
!Scripts/
!/.config/nvim/queries/bash/injections.scm
!/.config/waybar/style.css
!/.config/waybar/config
!/.local/
!/.local/bin/
!/.local/bin/mySudoEdit.sh
!/.bash-completions/
!/.bash-completions/*
