*

!.config
!.config/nvim
!.config/nvim/lua
!.config/nvim/init.vim
!.config/nvim/lua/**/*
!.config/nvim/luasnippets/*
!.bash_aliases
!.config/nvim/init.vim
!.gitignore
!.config/sway
!.config/sway/config
!.bashrc.d
!.bashrc.d/*
!.config/qutebrowser/
!.config/qutebrowser/config.py
!Scripts/
!Scripts/*
/.config/nvim/lua/plugins/friendly_snippets.lua
!/.config/nvim/queries/bash/injections.scm
