priority 1

snippet ai "android-item"
android:$1="$2"
endsnippet

snippet vi "View" b
<$1
	android:layout_width="${2:wrap_content}"
	android:layout_height="${3:wrap_content}"${4: }/>
endsnippet

snippet lt "Layout" b
<$1
	android:layout_width="${2:wrap_content}"
	android:layout_height="${3:wrap_content}"${4: }>

	${5:${VISUAL}}
</$1>

endsnippet
