* {
    padding: 0px;
    transition-duration: 0s;
    margin-bottom: 0px;
    margin: 0px;
}

window#waybar {
    background-color: rgba(1,1,1,0);
    margin: 0;
}

#workspaces button {
    margin: 5px 3px 0px 0px;
    background: transparent;
    padding: 0px;
}

#workspaces,
#clock, 
#battery {
	font-family: 'Fira Code', 'otf-font-awesome';
	font-size: 11pt;
	font-weight: bold;
	padding: 0;
}

#workspaces button label {
	padding: 1px 8px 0px 8px;
	margin: 0px;
	color: #ebdbb2;
	border-radius: 5px 5px 5px 5px;
	background-color: #83a598;
}

#workspaces button:first-child {
	margin-left: 5px;
}

#workspaces button:only-child {
    margin-left: 5px;
}

#workspaces button.visible label {
	/*background-color: rgba(251,241,199,.2);*/
	background-color: #458588;
	color: #ebdbb2;
}

#workspaces button.focused label {
	border-radius: 5px 5px 5px 5px;
	background-color: #458588;
	/*background-color: rgba(251,241,199,.2);*/
	color: #ebdbb2
}

#mode {
    margin: 0px 0px 0px 16px;          
    color: #ebdbb2;
}

#clock,
#battery {
    background-color: #83a598;
    padding: 0px 8px;
    margin: 5px 0px 0px 5px;
	border-radius: 5px 5px 5px 5px;
	color: #ebdbb2;
}

#clock.1 {
	margin-right: 5px;
	border-radius: 5px 5px 5px 5px;
}

#clock.2 {
	border-radius: 5px 5px 5px 5px;
}
