snippet if "if-clause" b
if $1 :
	$0
endsnippet

snippet for "for-loop" b
for $1 in $2 :
	$0
endsnippet

snippet def "function" b
def $1($2) :
	$0
endsnippet

snippet el "else" b
else :
	$0
endsnippet

snippet eli "elseif" b
elif $1 :
	$0
endsnippet

snippet ini "def init" b
def __init__($1) :
	$0
endsnippet
